@charset "UTF-8";
:root {
    --cor1:#ADD8E6;
    --cor2:#D9F5FF;
    --cor3:#638C99;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    color: black;
}

header {
    text-align: center;
}

section {
    font-size: 1.2em;
    padding: 10px;
    display: block;
    margin: auto;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
    background-color: var(--cor2);
}

div#msg {
    padding: 10px;
}

div#img {
    padding: 20px;
}

img#imagem {
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.219);
}

footer {
    text-align: center;
    padding-top: 50px;
}
footer > p > a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
footer > p > a:hover {
    text-decoration: underline;
}